.home-view__layout {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 2fr;
    column-gap: 40px;
}

.home-view__content {
    display: flex;
    flex-direction: column;
    row-gap: var(--x12);
}

@media (width < 1000px) {
    .home-view__layout {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        column-gap: 0;
    }
}