.button {
    --buttonRadius: var(--x4);
    --buttonPaddingLR: var(--x6);
    --buttonPaddingBT: var(--x4);

    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 0.4em;
    align-items: center;

    outline: none;
    border: none;

    font-family: "Gilroy";
    line-height: 1;
    font-size: var(--x8);
    white-space: nowrap;

    border-radius: var(--buttonRadius);

    padding-left: var(--buttonPaddingLR);
    padding-right: var(--buttonPaddingLR);

    padding-top: var(--buttonPaddingBT);
    padding-bottom: var(--buttonPaddingBT);

    background-color: rgba(0, 0, 0, 0);

    cursor: pointer;
}

.button--wide {
    width: 100%;
}

.button--hover {
    color: var(--textColor);
}

.button--hover:hover {
    color: var(--secondaryTextColor);
}

.button__icon {
    height: var(--x12);
    width: var(--x12)
}

.button--filled {
    background-color: rgba(0, 0, 0, 0.1);
}

.button--filled:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.button--centered {
    justify-content: center;
}