.footer {
  --footerPaddingLR: 4%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  box-sizing: border-box;
  padding-left: var(--footerPaddingLR);
  padding-right: var(--footerPaddingLR);

  height: 88px;
  margin-top: auto;
}