.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("./Assets/Gilroy-Regular.ttf");
}

:root {
  --x1: 2px; 
  --x2: calc(2 * var(--x1)); /* 4px */
  --x4: calc(4 * var(--x1)); /* 8px */
  --x6: calc(6 * var(--x1)); /* 12px */
  --x8: calc(8 * var(--x1)); /* 16px */
  --x10: calc(10 * var(--x1)); /* 20px */
  --x12: calc(12 * var(--x1)); /* 24px */
  --x14: calc(14 * var(--x1)); /* 28px */
  --x16: calc(16 * var(--x1)); /* 32px */

  --mobileW: 580px;

  /* LIGHT THEME */
  --backgroundColor: #EEEBE2;
  --textColor: #A39F8B;
  --secondaryTextColor: #080909;
  --contrastColor: #080909;
  --secondaryColor: #C87E74;
  --selectColor: #7FA480;
}

.dark {
    /* DARK THEME */
    --backgroundColor: #242933;
    --textColor: #F6F0E9;
    --secondaryTextColor: #EC4C56;
    --contrastColor: #EC4C56;
    --secondaryColor: #F66E0D;
    --selectColor: #F5E6C8;
}

body {
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}

.moon {
  fill: var(--colorText);
}

.app {
  --appPaddingLR: 10%;
  --appPaddingTB: var(--x14);

  width: 100%;

  box-sizing: border-box;

  padding-left: var(--appPaddingLR);
  padding-right: var(--appPaddingLR);
  padding-top: var(--appPaddingTB);
  padding-bottom: var(--appPaddingTB);
}