.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--x16);
}

.accordion-button {
  justify-content: flex-start;
  /* text-align: start; */
}

.accordion-button__arrow {
  margin-left: var(--x4);
  height: var(--x10);
  width: var(--x10);
  transform: rotate(-90deg);
  transition: transform 0.7s ease;
}

.arrow-rotate {
  transform: rotate(0deg);
  transition: transform 0.7s ease;
}

.accordion__list {
  display: flex;
  max-height: 3000px;
  overflow-y: hidden;
  width: 100%;
  flex-direction: column;
  row-gap: var(--x10);
  margin: 0;

  transition: max-height 0.3s ease;
}

.accordion__list--opened {
  max-height: 3000px;
}

.accordion__list li {
  font-family: 'Gilroy';
  margin: 0;
}

.accordion__list-item {
  display: flex;
  flex-direction: column;
  row-gap: var(--x6);
}
